
.welcom-header{
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.welcom-header__title{
    margin-bottom: 40px;
    font-size: 25px;
}

.welcom-header__text{
    width: 60%; 
    opacity: 0.7;
}

#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    border: none;
    padding: 30px 0px;
    font-size: 18px;
    border-bottom: var(--main-border);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
    outline: none; /* 추가: 기본 검은 테두리를 제거합니다 */
}

#login-form input::placeholder{
    color:rgba(0, 0, 0, 0.6); 
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input:not([type="submit"]){
    border-bottom: var(--main-border);
    transition: border-color 0.3s ease-in-out;
}

#login-form input[type="submit"]{
    background-color:var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 10px;
}

#login-form a{
    text-align: center;
    text-decoration: NONE;
    color: inherit;
} 